__pycache__/
*.pyc
.vscode/
.idea/
shit-noMAC.sql
kpa_btns_prod.json
list_uv_prod.json
*_ivkng_script_*
/docker-composeDB/dbdata/
/docs/mka/*.aux
/docs/mka/*.log
/docs/mka/*.gz
/docs/mka/*.toc
/docs/mka/*.out
/docs/МКА/ivk-ng-next/*.aux
/docs/МКА/ivk-ng-next/*.log
/docs/МКА/ivk-ng-next/*.out
/docs/МКА/ivk-ng-next/*.gz
/docs/МКА/ivk-ng-next/*.toc

